*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}
.slider{
    min-height: 600px;
    overflow: hidden;
}
.slider__item{
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: dodgerblue;
    transition: 0.5s;
    transition-timing-function: linear !important;
}
.slider__controls{
    display: flex;
    justify-content: space-between;
}
.slider__controls *{
    padding: 10px 20px;
    font-size: 18px;
}